@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/button.sass';

body {
  background-color: rgb(245, 246, 245);
  font-family: helvetica;
  overflow-x: hidden;
}
